@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<link rel="stylesheet" href="~/layui/css/layui.css" media="all" />*@
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <link rel="stylesheet" href="~/css/index.css" media="all" />
    <style>
        .white {
            color: white;
        }

        .jusity-content-center {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body class="childrenBody">
    <div class="jusity-content-center">
        <div class="layui-bg-gray" style="width:98%;height:80px;display:flex;align-items:center;">
            <input id="key" type="text" placeholder="请输入关键字" style="width:10%;height:60%;margin-left:10px" class="layui-input justify-content-center" />
            <button id="search" class="layui-btn layui-bg-green white" style="height:60%;margin-left:5px">搜索</button>
            <button id="add" class="layui-btn layui-bg-blue white" style="height:60%;margin-left:5px"><i class="layui-icon">&#xe61f;</i>添加菜单</button>
            <button id="delete" class="layui-btn layui-bg-red white" style="height:60%;margin-left:5px" data-type="getCheckData"><i class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
    </div>
    <div style="margin:0 20px">
        <table id="table" class="layui-hide" lay-filter="table" data-id="table">
        </table>
    </div>
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    @*<script type="text/javascript" src="~/layui/layui.js"></script>*@
    <script type="text/javascript" src="~/js/index.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script type="text/javascript" src="~/js/cache.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script src="~/layui/lay/modules/layer.js"></script>
    <script type="text/javascript">
        layui.use(['element', 'layer', 'jquery', 'table', 'form'], function () {
            let $ = layui.jquery, layer = layui.layer, table = layui.table, form = layui.form;
            $("#add").on('click', function () {
                layer.open({
                    type: 2,
                    content: '/Menu/Add',
                    area: ['640px', '480px'],
                    shade: 0.8,
                    title: '添加角色',
                    closeBtn: 0,
                    shadeClose: true,
                    moveType: 1,
                    success: function (layero, index) {
                        layer.iframeAuto(index);
                    }
                })
            });

            var tableInstance = table.render({
                elem: '#table',
                url: '/Menu/Get/',
                cols: [
                    [{
                        type: 'checkbox'
                    }, {
                        field: 'id',
                        title: 'ID',
                    }, {
                        field: 'displayName',
                        title: '菜单名称',
                    }, {
                        field: 'roleType',
                        title: '角色类型',
                    }, {
                        field: 'iconUrl',
                        title: '图标地址',
                    }, {
                        field: 'linkUrl',
                        title: '链接地址',
                    }, {
                        field: 'sort',
                        title: '排序',
                    }, {
                        field: 'isDisplay',
                        title: '是否显示',
                        align: 'center',
                        templet: function (d) {
                            if (d.isDisplay == true) {
                                return '<input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isLock" checked="checked"' + ' value="' + d.id + '"' + '/>'
                            } else {
                                return '<input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isLock"' + ' value="' + d.id + '"' + '/>'
                            }
                        }
                    }, {
                        field: 'isSystem',
                        title: '系统默认',
                        align: 'center',
                        templet: function (d) {
                            if (d.isSystem == true) {
                                return '<input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isLock" checked="checked"' + ' value="' + d.id + '"' + '/>'
                            } else {
                                return '<input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isLock"' + ' value="' + d.id + '"' + '/>'
                            }
                        }
                    }, {
                        field: 'remark',
                        title: '备注',
                        minWidth: 200
                    }, {
                        field: 'addTime',
                        title: '添加时间'
                    }, {
                        field: 'operation',
                        title: '操作',
                        templet: function (d) {
                            return '<div style="display:flex;justify-content:center">' +
                                '<button class="layui-btn layui-bg-green" lay-event="edit">编辑</button>' +
                                '<button class="layui-btn layui-bg-red" lay-event="delete">删除</button></div>';
                        }
                    }]
                ],
                page: true
            })

            table.on('tool(table)', function (obj) {
                var data = obj.data;
                var str = encodeURI(JSON.stringify(data), 'utf-8');
                switch (obj.event) {
                    case 'edit':
                        layer.open({
                            type: 2,
                            content: '/Menu/Edit?data=' + str,
                            area: ['640px', '480px'],
                            shade: 0.8,
                            title: '编辑角色',
                            closeBtn: 0,
                            shadeClose: true,
                            moveType: 1,
                            success: function (layero, index) {
                                layer.iframeAuto(index);
                            }
                        })
                        break;
                    case 'delete':
                        var ids = [data.id];
                        deleteData(ids);
                        break;
                    case 'getCheckData':
                        var checkStatus = table.checkStatus(obj.config.id);
                        var data = checkStatus.data;
                        layer.alert(Json.stringify(data));
                        break;
                }
            })

            //form.on('switch(isLock)', function (obj) {
            //    console.log(this.value + obj.elem.checked)
            //    $.ajax({
            //        type: "post",
            //        datatype: 'json',
            //        url: "/Manager/ChangeLockStatus?id=" + obj.value + "&status=" + obj.elem.checked,
            //        success: function (result) {
            //            //layer.msg(result.msg, { icon: 6, area: ['450px', ''], shade: [0.5, '#000', true] });
            //            //var index = parent.layer.getFrameIndex(window.name);
            //            //parent.layer.close(index);//关闭弹出的子页面窗口
            //            window.location.reload();//写在这里的话是只有提交成功了才刷新那个页面
            //            layer.close(index);
            //        },
            //        error: function () {
            //            layer.msg(result.msg, { icon: 2, area: ['450px', ''], shade: [0.5, '#000', true] });
            //        }
            //    })
            //})

            $("#search").on('click', function () {
                let key = document.getElementById('key').value;
                tableInstance.reload({
                    where: {
                        key: key
                    }
                })
            })

            var active = {
                getCheckData: function () {
                    var checkStatus = table.checkStatus('table'),
                        data = checkStatus.data;
                    let ids = [];
                    data.forEach(e => {
                        ids.push(e.id);
                    })
                    deleteData(ids);
                }
            }
            $('#delete').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            function deleteData(ids) {
                if (ids.length < 1)
                    return;
                layer.confirm('是否删除？', { icon: 3, title: '提示' }, function (index) {
                    $.ajax({
                        type: "post",
                        datatype: 'json',
                        url: "/Menu/Delete",
                        traditional: true,
                        data: { ids },
                        success: function (result) {
                            layer.msg(result.resultMsg, { icon: 6, area: ['450px', ''], shade: [0.5, '#000', true] });
                            table.reload('table');
                            layer.close(index);
                        },
                        error: function () {
                            layer.msg(result.resultMsg, { icon: 2, area: ['450px', ''], shade: [0.5, '#000', true] });
                        }
                    });
                    return false;
                })
            }
        })
    </script>
</body>
</html>
