@using Henxun.Cms.ViewModels
@model Henxun.Cms.ViewModels.ManagerRoleAddOrModifyModel
@addTagHelper *,Henxun.Cms.Admin
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body style="padding:10px">
    <form id="addRole" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <label for="roleName" class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input id="roleName" name="roleName" type="text" class="layui-input" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="roleType" class="layui-form-label">角色类型</label>
            <div class="layui-input-block">
                <input id="roleType" name="roleType" type="text" class="layui-input" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="isSystem" class="layui-form-label">系统默认</label>
            <cl-switch asp-for="IsSystem" asp-switch-text="是|否" lay-verify="required"></cl-switch>
        </div>
        <div class="layui-form-item">
            <label for="isSystem" class="layui-form-label">显示名称</label>
            <div class="layui-input-block">
                @foreach (var item in ViewBag.Menus as IEnumerable<MenuNavView>)
                {
                    <input type="checkbox" name="menuids[]" title="@item.DisplayName" value="@item.Id" />
                }
            </div>
        </div>
        <div class="layui-form-item">
            <label for="isSystem" class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="isSystem" name="isSystem" placeholder="请输入内容" class="layui-textarea" maxlength="128"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-right">
            <button class="layui-btn" lay-submit lay-filter="confirm">确定</button>
        </div>
    </form>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/submit.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script type="text/javascript" src="~/js/verify.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        registerSubmit('ManagerRole')
    </script>
</body>
</html>