@using Henxun.Cms.ViewModels
@model Henxun.Cms.ViewModels.ManagerAddOrModifyModel
@{
    Layout = null;
    var roleList = ViewBag.RoleList as IEnumerable<SelectListItem>;
}
<html>
<head>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />

    <style>
    </style>
</head>
<body style="padding:10px">

    <form id="add" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input id="username" name="userName" type="text" class="layui-input" lay-verify="required|userName" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="roleId" class="layui-form-label">所属角色</label>
            <div class="layui-input-block">
                <select id="roleId" name="roleId" lay-filter="role">
                    @foreach (var item in roleList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="nickName" class="layui-form-label">用户昵称</label>
            <div class="layui-input-block">
                <input id="nickName" name="nickName" class="layui-input" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input id="email" type="email" name="email" class="layui-input" lay-verify="required|email" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="mobile" class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input id="mobile" name="mobile" type="tel" class="layui-input" lay-verify="required|phone" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="remark" class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="remark" name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-right">
            <button class="layui-btn" lay-submit lay-filter="confirm">确定</button>
        </div>
    </form>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/submit.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script type="text/javascript" src="~/js/verify.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        registerSubmit('Manager')
    </script>
</body>
</html>
